$shadowColor: rgba($color: #000000, $alpha: .2);
$hoverColor: rgba($color: #000000, $alpha: .1);
$pagePaddingColor: rgba(255, 0, 0, 0.2);
$addidionalColor: #0ad4db;
$addidionalColor2: rgb(213, 213, 213);