$hoverColor: rgba($color: #000000, $alpha: 0.1);
$shodowColor: rgba($color: #000000, $alpha: .2);

.header {
    box-shadow: 0px 0px 5px $shodowColor;
}

.menubar {
    display: flex;
    font-family: sans-serif;
    user-select: none;
    cursor: pointer;

    .menubar__item {
        padding: 10px 5px;
        position: relative;

        &:hover {
            background-color: $hoverColor;
        }

        .menubar__contextmenu {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: white;
            box-shadow: 0 0 5px $shodowColor;
            white-space: nowrap;
            min-width: 150px;
            border-radius: 0 5px 5px 5px;
            overflow: hidden;
            z-index: 10;
            
            .menubar__contextmenuitem {
                padding: 5px 10px;

                &:hover {
                    background-color: $hoverColor;
                }
            }
        }
    }

}

.toolbar {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    height: 50px;

    .toolbar__sectionseparator {
        height: 30px;
        width: 3px;
        background-color: $shodowColor;
        border-radius: 3px;
        margin: 0 4px;
    }

    .toolbar__section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .toolbar__sectionoptions {
            height: 35px;
            display: flex;
        }

        .toolbar__sectionname {
            font-size: 12px;
        }

        .toolbar__sectionimage {
            cursor: pointer;
            
            img {
                padding: 0px 3px;
                height: 35px;
            }

            // &:hover {
            //     background-color: $hoverColor;
            // }

        }


        .toolbar__sectionimage_enabled:hover {
            background-color: $hoverColor;
        }

        .toolbar__sectionimage_disabled {
            filter: invert(1) brightness(1);
            cursor: default;
        }

        .toolbar__sectiontext {
            display: flex;
            align-items: center;

            .toolbar__sectiontextspan {
                margin: 0 4px;
            }

            .toolbar__sectiontextinput {
                width: 40px;
                margin-right: 4px;
            }
        }
    }
}