@use '../Sass/colors' as *;

.header {
    // box-shadow: 0px 0px 5px $shadowColor;
    border-bottom: 1px solid gray;
    grid-area: header;
    background-color: white;

    .menubar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        user-select: none;
        cursor: pointer;
    
        &__items {
            display: flex;
    
            .menubar__item {
                padding: 10px 5px;
                position: relative;
        
                &:hover {
                    background-color: $hoverColor;
                }
        
                .menubar__contextmenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: white;
                    box-shadow: 0 0 5px $shadowColor;
                    white-space: nowrap;
                    min-width: 150px;
                    border-radius: 0 5px 5px 5px;
                    overflow: hidden;
                    z-index: 10;
                    
                    &item {
                        padding: 5px 10px;
        
                        &:hover {
                            background-color: $hoverColor;
                        }
                    }
                }
            }
        }
    
        &__choose {
            position: relative;
            width: 220px;
            height: 25px;
            margin: 0 10px;
            border: 1px solid black;
            border-radius: 5px;
            white-space: nowrap;
    
            &option {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                span {
                    margin-left: 5px;
                    display: block;
                    width: 100%;
                    overflow: hidden;
                }
    
                img {
                    height: 100%;
                }
            }
    
            &list {
                position: absolute;
                // box-shadow: 0 0 5px $shadowColor;
                z-index: 100;
                top: 100%;
                left: -.5px;
                width: 100%;
                background-color: white;
                border: 1px solid black;
                // overflow: auto;
    
                &item {
                    &:hover {
                        background-color: $hoverColor;
                    }
                }
            }
        }
    
        &__choose--open {
            border-radius: 5px 5px 0 0;
        }
    
        &__fileimport {
            display: none;
        }
    
    }
    
    .toolbar {
        font-family: sans-serif;
        display: flex;
        align-items: center;
        height: 50px;
        overflow-x: auto;
        overflow-y: hidden;
    
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    
        &__sectionseparator {
            height: 30px;
            width: 3px;
            min-width: 3px;
            background-color: $shadowColor;
            border-radius: 3px;
            margin: 0 4px;
        }
    
        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &options {
                height: 35px;
                display: flex;
            }
    
            &name {
                font-size: 12px;
                user-select: none;
            }
    
            &image {
                cursor: pointer;
                
                img {
                    padding: 0px 3px;
                    height: 35px;
                }
            }
    
    
            &image--enabled:hover {
                background-color: $hoverColor;
            }
    
            &image--disabled {
                filter: invert(1) brightness(1);
                cursor: default;
            }
    
            &text {
                display: flex;
                align-items: center;
    
                &span {
                    margin: 0 4px;
                    user-select: none;
                }
    
                &input {
                    width: 40px;
                    margin-right: 4px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    padding: 3px;
                    outline: none;
    
                    &:focus {
                        outline: 2px solid $addidionalColor;
                    }
                }
    
                &input_error {
                    border: 1px solid red;
                }
            }
    
            &check {
                display: flex;
                align-items: center;
    
                input {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}

