$color: rgb(242, 246, 251);

body {
    background-color: $color;
}

.appdisplay {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-rows: 0;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'header header'
        'pdfview propertymenu';
}