.pdfview {
    grid-area: pdfview;
    position: relative;

    .pdfview__controller {
        user-select: none;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: aquamarine;
    }
}
